<template name="planning">

    <div class="container-planning">

    	{{#each days}}
    	{{#if isEmpty}}
    	{{else}}
		<div class="day">
			<div class="header-planning">
				<div class="header-planning-wrapper">	
					<h1>{{day}}</h1>
					<h2>{{startTime _id}} - {{endTime _id}}</h2>
				</div>
			</div>

				<ul>
					<div class="planning-li-item">
					{{#each schedule}}
		    		<li>
		    		{{#with getElement elementId}}
		    			<!-- You can also get cover and game image with :{{cover}} {{game}}  -->
		    			Title:{{title}} 
		    		{{/with}}
		    			{{start}}-{{end}}
		    		</li>
		    		{{/each}}
					</div>
				</ul>	
		</div>
		{{/if}}
		{{/each}}

	</div>
</template>